.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




@media only screen and (max-width: 768px) {
  #idd{
    margin-top: 50px;
  }
}

#login .container #login-row #login-column .login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-image: linear-gradient(to bottom, #aec1c3, #a9b5b7, #bcc5c6, #cfd5d5, #e3e5e5);
}
#login .container #login-row #login-column .login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column .login-box #login-form #register-link {
  margin-top: -85px;
}


.badge-wrapper {
  position: relative;
}

.badge {
  position: absolute;
  background: red;
  border-radius: 50%;

  
}

/* Dashboard Section */
.noti{
  width: 240px;
  color:#212226;
  position: absolute;
}

/* Reort Button */
.btn-outline-success {
  width:100px;
}

/* Dashboard Section */

.head{
  color:rgba(19, 183, 96, 1.0);
  font-family:  Helvetica, Arial, serif;
  line-height  : 23.0px;
  font-size: 16px;
  font-weight: bolder;
}
#p{
  font-weight : 400;
  font-family : "Roboto", Helvetica, Arial, serif;
  opacity : 0.7;
  font-size : 14.0px;
  line-height         : 20.0px;
  font-style          : normal;
}
h5{
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 900;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(19, 183, 96, 1.0);
  text-align          : left;
  line-height         : 28.0px;
  background-color    : rgba(255,255,255,0.0);


}

h4{
  opacity             : 0.8;
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(33, 34, 38, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.rectangle{
  margin-top: 30px;
  margin-left: 18px;
  opacity: 0.7;
  height: 60px;
}

.cont{
  margin: 0 auto;
  max-width: 900px;
}

.n{
  padding-bottom: 30px;
}
.r{
  padding-bottom: 15px;
}

.l{
  font-family         : "Rubik", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 13.0px;

  text-align          : left;
  letter-spacing      : -0.11px;
  line-height         : 15.0px;
  background: white;
  margin-right: 10px;
  padding: 15px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 2px solid #CCEFDC;
  border-bottom: 0 white;
  

}

.rrr{
  font-family         : "Rubik", Helvetica, Arial, serif;
  color               : rgba(19, 183, 96, 1.0);
  margin-right: 10px;
  padding: 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: white;
  border: 2px solid #CCEFDC;
  border-bottom: 0 white;
}
/* .rrr:hover{
  border: 2px solid #CCEFDC;
  border-bottom: 0 white;
  background: white;
  color: #000;
}
.l:hover{
  border: 2px solid #CCEFDC;
  border-bottom: 0 white;
  background: white;
  color: #000;
} */
.ll{
  color               : rgba(19, 183, 96, 1.0);
}

.box{
  box-shadow: 0px 5px 5px 4px #E5E8E9;  
  /* "0 9px 17px 8px #E5E8E9"  */
}

.thead{
  border-top: 2px solid rgba(19, 183, 96, 1.0);
  background: #F5FAF3;
  
}

tr{
  border-top: 2px solid #CCEFDC;
  margin: 12px 12px 12px 12px;
  
}
a:hover{
  text-decoration: none;
}
th{
  color: rgba(33, 34, 38, 1.0)
}






